body{
    margin:0;
}


.containercar {
    background: white;
    max-width: device-width;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
   }
.containercarlist {
    background: white;
    max-width: device-width;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
   }
.containercarlist{
    padding: 40px;
}
.containercar{
    padding: 15px;
}
.xe{
    font-size: 1em;
    padding: 10px;
    color: rgb(102, 64, 64);
    border: 2px solid rgb(107, 32, 32);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
   }
.xe:hover {
    background: rgb(136, 49, 49);
   }






.ebikediscribe{
    padding: 40px;
}
.containerebikelist {
    background: white;
    max-width: device-width;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
   }
.ebikeprice {
    background: rgb(51, 50, 50);
    max-width: device-width;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
   }
.containerebikecontent{
    padding: 40px 40px 40px 120px;
}
.containerebike {
    background: white;
    max-width: device-width;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
   }
.acquy{
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid rgb(63, 61, 61);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
   }
.acquy:hover {
    background: rgb(71, 71, 71);
   }






   
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }